{% extends "template.html" %}

{% block contents %}

<title>home|Portifólio</title>

<div class="justify1">

    <div class="divfoto">
    <img src="https://64.media.tumblr.com/c9be004fae36868ae3028f33dfa8e9e4/fecaf493849e28d2-ef/s1280x1920/9e018520578e4fecff5c782cd50c9f81320fd29e.pnj"
    alt="minha foto"height="200px" width="200x" class="minhafoto"></div>


<div class="indexcaixarosa1">
<h4>Eshilley Hiury Minicucci Vianna Barbosa</h4> <br>
<p>>Data de nascimento: 26/08/2003<br>
    >São josé dos campos <br>
    >Gênero:Feminino</p>
</div>
<br>
</div>
<div class="justify2"><div class="indexbox2">
    <p>Ensino médio concluído no ano de 2021</p>
    <a href="https://www.instagram.com/rainbowchinchila/"
    alt="instagram" target="_blank">
    <img src="https://seeklogo.com/images/I/instagram-new-2016-glyph-logo-84CB825424-seeklogo.com.png" width="50px" height="50px"></a>
    <p>fluente em inglês</p>
    <p>Cursando Desinvolvimento de Software Multiplataforma na Fatec SJC</p>
    <p>conhecimentos básicos de edição de vídeo</p>
    </div>

    <div class="justify3">

        <h4>sobre mim</h4>
        <div class="indexbox3">
        <p> .       Me interesso muito pela cultura gótica e tudo que ela representa, gosto muito em específico de bandas da subcultura 
            visual-kei como Malice Mizer, The gazette, Lareine, Versailles e entre outros.
        </p>
        <br>
        <p>.        Gosto de assistir animes (animações japonesas) Minhas preferidas são Mahoutsukai no Yome, Tasogare x Otome x Amnesia, Jojo's Bizarre Adventure:Diamond Is Unbreakeable</p>
        <br>
        <p>.        Me interesso muito por arte, principalmente ilustrações digitais.</p>
        </div>

</div></div>


<footer> 2022 </footer>




{% endblock contents %}

