{% extends "template.html" %}

{% block contents %}

<title>Mais|Portifólio</title>

<div class="maisjustify1">
    <h4>desenhos</h4>
    <div class="maisbox2">

        <div class="caixarosacentrodentro">

        <!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
      src="https://pbs.twimg.com/media/FawLHhdXoAEkpmJ?format=jpg&name=large"
      alt="desenho de um homem deitado ao lado de um esqueleto"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="ELIAS"
      />
  
      <img
        src="https://pbs.twimg.com/media/FLf7NSNXMAAEltX?format=jpg&name=large"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="LYSANDRE"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://pbs.twimg.com/media/FJG32p-XwAQFxKV?format=jpg&name=900x900"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="LYSANDRE"
      />
  
      <img
        src="https://pbs.twimg.com/media/FI7AJI0WYAI0ksC?format=jpg&name=large"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Sapphire"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
        src="https://pbs.twimg.com/media/FC_B_BMWUAI48rx?format=jpg&name=large"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="elias"
      />

      <img
        src="https://pbs.twimg.com/media/FC_CARsXEAk3_3J?format=jpg&name=large"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mammon"
      />
  
    </div>

    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
          src="https://pbs.twimg.com/media/FC_B_-8WUAAlHJU?format=jpg&name=large"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Boat on Calm Water"
        />
    
        <img
          src="https://pbs.twimg.com/media/Eyyh_3tWgAM_iZa?format=jpg&name=4096x4096"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Wintry Mountain Landscape"
        />
      </div>
    
      <div class="col-lg-4 mb-4 mb-lg-0">
        <img
          src="https://pbs.twimg.com/media/FC_B-BQXIAQtcu4?format=jpg&name=large"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Mountains in the Clouds"
        />
    
        <img
          src="https://pbs.twimg.com/media/E3yx9Y4XoAAtD0J?format=jpg&name=4096x4096"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Boat on Calm Water"
        />
      </div>
    
      <div class="col-lg-4 mb-4 mb-lg-0">
        <img
          src="https://pbs.twimg.com/media/Ey5oXgHWQAEerBk?format=jpg&name=large"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Waves at Sea"
        />
    
        <img
          src="https://pbs.twimg.com/media/EyvAy5iWEAIpNld?format=jpg&name=medium"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Yosemite National Park"
        />
      </div>

  </div>
        </div>
    </div>


</div>


{% endblock contents %}
