{% extends "template.html" %}



{% block contents %}
<title>projetos|Portifólio</title>

<div class="projetosjustify1">
<h4>projetos que pretendo realizar</h4>
<div class="projetosbox2">
    <p>API <br>
        O Projeto API referente primeiro semestre de DSM "Spicebank" é um banco digital fictício que visa a 
    diminuição da necessidade de contatos. Por meio deste, aprenderei diversas novas tecnologias como Python, Flask, HTML E CSS. </p> 
    
        <p>APRENDER OUTRO IDIOMA<br><br>
            Pretendo aprender outro idioma além do Inglês e Português, no momento me sinto dividida entre aprender
            francês, Alemão ou Coreano.
        </p>
    <p> ESCREVER UM LIVRO <br><br>
        Não pretendo publicá-lo, apenas escrever um livro sobre a história do meu RPG (Role Playing Game)
        chamado "Contos do vale das trevas"
    </p>
</div>
    </div>


    <div class="projetosjustify1">
        <h4>projetos já realizados</h4>
        <div class="projetosbox2">
<p>APRENDER INGLÊS <br>
Eu sou fluente na língua inglesa desde os 12 anos.</p>

<p>ENTRAR PRA FACULDADE <br>
É uma grande conquista conseguir fazer isso sem ter um colapso</p>

<p>FAZER UMA TIRINHA HQ <br>
    É uma tirinha pequena, mas é uma tirinha. E é isso que importa.
</p>
        </div></div>
{% endblock contents %}
