@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

        /*modificações pro projeto inteiro*/
body{
    background-color:#F2DDD0;}
div{
    width: 60%;
    display: block;
    margin: 0 auto;}
    
h4{
    font-size: 150%;
    color: #182C2B;
    text-align: center;
    padding: 10px 50px 10px 50px;
    text-decoration: none;}
h5{
    color: #313131;
    text-align: center;
    margin-top: 60px;
margin-bottom: 60px;}

/*barra de navegação*/
#menuh {
    list-style: none;
    padding: 0;
    background-color: #D9C1B8;
    position: fixed;
  top: 0;
  width: 100%; 
  z-index: 100;}
#menuh ul {
    text-align: center;}
#menuh ul li{
    display: inline;}
#menuh ul li a{
    color: #F0F2F2;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    margin: auto;
    transition: background .4s;}
#menuh ul li a:hover{
    background-color: #EDBEBB;
    transition: background .4s;}






            /*tela home index.html*/
/*caixa rosa com nome Eshilley e informações básicas na primeira sessão do projeto*/
.caixarosa1{
    margin-left: 30%;
    border-radius: 50px;
    padding: 10px;
    background: #EDBEBB;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);}
.caixarosa1 p{
    margin-left: 3%;
    width: 90%;
    height: fit-content;
    border-radius: 50px;
    padding: 10px;
    background: #ffffff;
    font-size: 150%;
    text-align: center;
    font-family: 'VT323', monospace;
    color: #727272 ;} 

#minhafoto {
    position: absolute;
    margin-top: 4%;
    border-radius: 100px;
    background: #EDBEBB;
    padding: 10px;
    transition: padding .4s;}
#minhafoto:hover{
    padding: 0px;
    transition: padding .4s;}


/*caixa com informações educacionais e respectivas formatações*/
.caixarosa2 {
    border-radius: 50px;
    padding: 10px;
    background: #EDBEBB;
    position: relative;
    height: 160px;
    width: 95%;}
.caixarosa2-left{
    width: 33%;
    float: left;}
.caixarosa2-left p{
    border-radius: 50px;
    padding: 10px;
    background: #ffffff;
    font-size: 100%;
    text-align: center;
    font-family: 'VT323', monospace;
    color: #727272 ;
    margin-bottom: 5px;}
#caixarosa2-center{
    display: inline-block;
    width: 33%;
    border-radius: 50px;
    padding: 10px;
    background: #ffffff;
    position: absolute;
    text-align: center;
    margin: 0 auto; }
    
#caixarosa2-center p{
        border-radius: 50px;
        padding: 10px;
        background: #ffffff;
        font-size: 100%;
        text-align: center;
        font-family: 'VT323', monospace;
        color: #727272 ;
        margin-bottom: 5px;
        margin: 0 auto;}

#caixarosa2-center a img{
    vertical-align: middle;
    max-height: 200px;
    max-width: 200px;}
.caixarosa2-right{
    width: 33%;
    float: right;}
.caixarosa2-right p{
    border-radius: 50px;
    padding: 10px;
    background: #ffffff;
    font-size: 100%;
    text-align: center;
    font-family: 'VT323', monospace;
    color: #727272 ;
    margin-bottom: 5px;}

    /*sobre mim*/
#caixarosacentro{
        margin-top: 30px;
        border-radius: 50px;
        padding: 10px;
        background: #EDBEBB;
        position: relative;
        width: auto;
        margin-left: 0 auto;
        margin-right: 0 auto;}
#caixarosacentrodentro{
        margin: 0 auto;
        width: 95%;
        height: auto;
        border-radius: 50px;
        padding: 10px;
        background: #ffffff;}
#caixarosacentrodentro p{
        text-align: center;
        font-size: 100%;
        text-align: center;
        font-family: 'VT323', monospace;
        color: #727272 ;
        margin-bottom: 5px;}



        /*tela projetos*/
#caixarosacentro2{
    margin-top: 30px;
     border-radius: 50px;
     padding: 10px;
     background: #EDBEBB;
     position: relative;
     width: auto;
     height: 200px;
    margin-left: 0 auto;
    margin-right: 0 auto;}
        

        /*tela mais*/

/**/